# Python files
*.py[cod]

Other_works/
Other_works/*

saved_outputs/
saved_outputs/*

*/outputs/
*/outputs/*

# C extensions
*.so
*.dll
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Object files
*.os

# Packages
*.egg
*.egg-info
dist
build
build-scons
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
*.pth

# Installer logs
pip-log.txt
.amlog
.sconsign.dblite

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Designer files
*visualea/src/visualea/ui_*

# Translations
*.mo

# Vim files
*.swp
*.*~

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.settings
.idea

# svn
.svn

# temporary files
*._icon.png

# Mac dirs
.DS_Store
saving_outputs
/src/rhizodep/model_old.py
/src/rhizodep/simulation_old.py
/simulations/running_scenarios/outputs
/saved_outputs
/Other_works
/src/rhizodep/scenarios/outputs
/src/rhizodep/scenarios/running_example/outputs
/test/outputs
/src/rhizodep/scenarios/inputs/sucrose_input_Swinnen_et_al_1994_ArchiSimple_185.csv
/src/rhizodep/scenarios/inputs/sucrose_input_Swinnen_et_al_1994_starting_at_55_days.csv
