# Python files
*.py[cod]

Other_works/
Other_works/*

saved_outputs/
saved_outputs/*

*/outputs/
*/outputs/*

# C extensions
*.so
*.dll
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Object files
*.os

# Packages
*.egg
*.egg-info
dist
build
build-scons
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
*.pth

# Installer logs
pip-log.txt
.amlog
.sconsign.dblite

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Designer files
*visualea/src/visualea/ui_*

# Translations
*.mo

# Vim files
*.swp
*.*~

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.settings
.idea

# svn
.svn

# temporary files
*._icon.png

# Mac dirs
.DS_Store
saving_outputs

# VS Code project
*.code-workspace

# files
src/rhizodep/model_old.py
src/rhizodep/simulation_old.py
simulations/running_scenarios/outputs
saved_outputs
Other_works
tutorial/outputs
tutorial/running_example/outputs
test/outputs
tutorial/inputs/rapeseed_inputs_MIXED.csv
tutorial/inputs/rapeseed_inputs_PURE.csv
tutorial/inputs/sucrose_input_0047.csv
tutorial/inputs/sucrose_input_0047_starting_at_38_days.csv
tutorial/inputs/sucrose_input_0059.csv
tutorial/inputs/sucrose_input_0059_starting_at_38_days.csv
tutorial/inputs/sucrose_input_Swinnen_et_al_1994_ArchiSimple_185.csv
tutorial/inputs/sucrose_input_Swinnen_et_al_1994_impeded.csv
tutorial/inputs/sucrose_input_Swinnen_et_al_1994_starting_at_30_days.csv
tutorial/inputs/sucrose_input_Swinnen_et_al_1994_starting_at_55_days.csv
tutorial/inputs/sucrose_input_Swinnen_et_al_1994_starting_at_60_days.csv
tutorial/inputs/sucrose_input_Swinnen_et_al_1994_starting_at_90_days.csv
tutorial/inputs/sucrose_input_Swinnen_et_al_1994_starting_at_120_days.csv
tutorial/inputs/sucrose_input_Swinnen_et_al_1994_starting_at_150_days.csv
src/openalea/rhizodep/mycorrhizae.py
